<section>
    <div class="container-fluid" style="padding:50px; padding-top: 20px;">
        <div class=" row">
            <!-- Tabla de usuarios -->
            <div class="col-md-{{ mostrarFormulario ? '8' : '8' }} tabla-container"
                [class.expanded]="!mostrarFormulario" style="text-align: center; font-size: 12px;">
                <table class="table tabla " [class.width]="!mostrarFormulario">
                    <thead>
                        <tr>
                            <th>Nombre Receta</th>
                            <th>Ingredientes Materia Prima</th>
                            <!-- <th>ID Proveedor</th>
                            <th>ID Materia Prima</th> -->
                            <th>Cantidad productos</th>
                            <th>Producto</th>
                            <th>Estatus</th>
                            <!-- <th>Acciones</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let receta of recetas">
                            <td>{{ receta.nombre }}</td>
                            <td>{{ receta.ingredientesMateriaP }}</td>
                            <!-- <td>{{ compra.idProveedor }}</td> -->
                            <!-- <td>{{ compra.id_materia_prima }}</td> -->
                            <td>{{ receta.cantidadProducto }}</td>
                            <td>{{ receta.idProducto }}</td>
                            <td>{{ receta.estatus }}</td>
                            <!-- <td>
                                <button class="btn btn-warning text-white" (click)="alternarFormulario(receta)">
                                    <i class="fas fa-pencil-alt"></i> Editar
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="warning-message" *ngIf="usuarioTipo === '' ">
        No puedes visualizar este contenido, debes iniciar sesión
    </div> -->
</section>



<!-- Formulario de edición -->
            <!-- <div class="col-md-{{ mostrarFormulario ? '3' : '0' }} form-container" *ngIf="mostrarFormulario">
                <div class="form-header">
                    <h4 class="form-title">Editar </h4>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    [(ngModel)]="compraSeleccionado.nombre" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="empresa" class="form-label">Empresa:</label>
                                <input type="text" class="form-control" id="empresa" name="empresa"
                                    [(ngModel)]="proveedorSeleccionado.empresa" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="rfc" class="form-label">RFC:</label>
                                <input type="text" class="form-control" id="rfc" name="rfc"
                                    [(ngModel)]="proveedorSeleccionado.rfc" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="telefono" class="form-label">Telefono:</label>
                                <input type="text" class="form-control" id="telefono" name="telefono"
                                    [(ngModel)]="proveedorSeleccionado.telefono" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="correo" class="form-label">Correo:</label>
                                <input type="text" class="form-control" id="correo" name="correo"
                                    [(ngModel)]="proveedorSeleccionado.correo" required>
                            </div>
                        </div>
                    </div>
                    <div class="btn-form">
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div> -->