<section>
    <div class="container-fluid" style="padding:50px; padding-top: 20px;">
        <div class=" row">
            <!-- Formulario de edición -->
            <div class="col-md-{{ mostrarFormulario ? '3' : '0' }} form-container" *ngIf="mostrarFormulario">
                <div class="form-header">
                    <h4 class="form-title">Editar Usuario</h4>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="nombre" class="form-label">Nombre:</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    [(ngModel)]="usuarioSeleccionado.nombre" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="edad" class="form-label">Edad:</label>
                                <input type="text" class="form-control" id="edad" name="edad"
                                    [(ngModel)]="usuarioSeleccionado.edad" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="apellidoPaterno" class="form-label">Apellido Paterno:</label>
                                <input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno"
                                    [(ngModel)]="usuarioSeleccionado.apellidoPaterno" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="apellidoMaterno" class="form-label">Apellido Materno:</label>
                                <input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno"
                                    [(ngModel)]="usuarioSeleccionado.apellidoMaterno" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="direccion" class="form-label">Direccion:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion"
                                    [(ngModel)]="usuarioSeleccionado.direccion" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="sexo" class="form-label">Sexo:</label>
                                <select class="form-control" id="sexo" name="sexo"
                                    [(ngModel)]="usuarioSeleccionado.sexo" required>
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="correo" class="form-label">Correo:</label>
                                <input type="text" class="form-control" id="correo" name="correo"
                                    [(ngModel)]="usuarioSeleccionado.correo" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="contrasenia" class="form-label">Contraseña:</label>
                                <input type="text" class="form-control" id="contrasenia" name="contrasenia"
                                    [(ngModel)]="usuarioSeleccionado.contrasenia" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="telefono" class="form-label">Telefono:</label>
                                <input type="text" class="form-control" id="telefono" name="telefono"
                                    [(ngModel)]="usuarioSeleccionado.telefono" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-2">
                                <label for="rolId" class="form-label">Rol:</label>
                                <select class="form-control" id="rolId" name="rolId" [(ngModel)]="usuarioSeleccionado.rolId"
                                    required>
                                    <option value="1">Administrador</option>
                                    <option value="2">Empleado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="btn-form">
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div>

            <!-- Tabla de usuarios -->
            <div class="col-md-{{ mostrarFormulario ? '8' : '8' }} tabla-container"
                [class.expanded]="!mostrarFormulario" style="text-align: center; font-size: 12px;">
                <table class="table tabla " [class.width]="!mostrarFormulario">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th *ngIf="!mostrarFormulario">Apellido Paterno</th>
                            <th *ngIf="!mostrarFormulario">Apellido Materno</th>
                            <th>Edad</th>
                            <th *ngIf="!mostrarFormulario">Sexo</th>
                            <th>Telefono</th>
                            <th *ngIf="!mostrarFormulario">Direccion</th>
                            <th>Correo</th>
                            <th>Rol</th>
                            <th>Estatus</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.nombre }}</td>
                            <td *ngIf="!mostrarFormulario">{{ usuario.apellidoPaterno }}</td>
                            <td *ngIf="!mostrarFormulario">{{ usuario.apellidoMaterno }}</td>
                            <td>{{ usuario.edad }}</td>
                            <td *ngIf="!mostrarFormulario">{{ usuario.sexo }}</td>
                            <td>{{ usuario.telefono }}</td>
                            <td *ngIf="!mostrarFormulario">{{ usuario.direccion }}</td>
                            <td>{{ usuario.correo }}</td>
                            <td>{{ usuario.rol }}</td>
                            <td>{{ usuario.estatus }}</td>
                            <td>
                                <button class="btn btn-warning text-white" (click)="alternarFormulario(usuario)">
                                    <i class="fas fa-pencil-alt"></i>Editar
                                </button>
                                <button class="btn btn-danger mx-1" (click)="eliminarUsuario(usuario.id)">
                                    <i class="fas fa-trash-alt"></i>Eliminar
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>