.form-container {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    border: 1px dotted #2f3551;
}

.form-header {
    background-color: #2f3551;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    margin: -15px -15px 15px -15px;
}

.form-title {
    margin: 0;
    font-weight: bold;
}

.tabla{
    margin-left: 80px;
}

.tabla {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px; /* Aplica esquinas redondas */
    overflow: hidden; /* Oculta las esquinas que sobresalen */
}

.tabla thead th:first-child {
    border-top-left-radius: 10px; /* Redondea la esquina superior izquierda */
}

.tabla thead th:last-child {
    border-top-right-radius: 10px; /* Redondea la esquina superior derecha */
}

.tabla.width{
    margin-left: 0px;
}

.btn-form{
    text-align: center;
    margin-top: 10px;
}

.tabla-container {
    transition: all 0.3s ease-in-out;
}

.tabla-container.expanded {
    width: 100%;
}

.table th {
    background-color: #2f3551; /* Color azul */
    color: #ffffff; /* Color blanco para las letras */
    font-weight: 500;
    
}



