        <!-- Section-->
        <!-- <section class="py-5">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="assets/v.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </section> -->

        <section class="py-5">
          <div class="px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
              <div class="col mb-5" *ngFor="let producto of productos">
                <div class="card h-100">
                  <img class="card-img-top img-1" [src]="producto.imagen" alt="..." />
                  <hr />
                  <div class="card-body p-4">
                    <div class="text-center">
                      <h3><b>{{ producto.nombre }}</b></h3>
                      <h5 class="fw-bolder">{{ producto.descripcion }}</h5>
                      Precio: ${{ producto.precio }}
                    </div>
                  </div>
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                      <button class="btn btn-outline-dark mt-auto" (click)="agregarAlCarrito(producto)">
                        Agregar al carrito
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
          