.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77.9vh;
  background-color: #f2f2f2;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.input-container {
  position: relative;
  margin-bottom: 35px;
}

.input-container input {
  width: 100%;
  padding: 7px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  transition: border-color 0.3s;
  
}

.input-container label {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #555;
  pointer-events: none;
  transition: transform 0.3s, color 0.3s;
}

.input-container input:focus,
.input-container input:valid {
  border-color: #2f3551;
}

.input-container input:focus + label,
.input-container input:valid + label {
  transform: translateY(-65%);
  font-size: 14px;
  color: #2f3551;
}

.form-group {
  text-align: center;
  margin-top: 20px;
}

.btn-primary {
  background-color: #2f3551;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #1a1e32;
}

.register-link {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.a2 {
  color: #2f3551;
  text-decoration: none;
}

.a2:hover {
  text-decoration: underline;
}

/* Menu */
/* NUEVO ESTILO DEL NUEVO NAV DE EJEMPLO */
.navbar-brand {
  letter-spacing: 3px;
  color: #c24244;
}

.navbar-brand:hover {
  color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #fff;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #7f4722;
}

.navbar-scrolled {
  background-color: #ffede7;
}


.img-izquierda {
  float: left;
  max-height: 200%;
  max-width: 200px; /* Ajusta el valor según el tamaño deseado */
  margin-left: -70px;
  
}

/* Estilo para ocultar la ventana emergente inicialmente */
.hidden {
  display: none;
}

/* Estilo para la ventana emergente de productos */
#productWindow {
  position: absolute;
  top: 40px; /* Ajusta la posición vertical según la altura de tu navbar */
  right: 0;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f3551;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}