<div class="login-box">
  <p>Login</p>
  <form>
    <div class="user-box">
      <input required="" name="" type="text">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input required="" name="" type="password">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
  <br>
  <div>
    <p>No tienes una cuenta? <a routerLink="/RegistroComponent" class="a2">Registrate!</a></p>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>