.product-card {
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
}

.product-images {
  display: flex;
  align-items: center; /* Centra verticalmente las miniaturas */
}

.product-images img {
  max-width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
}

.thumbnail-images {
  display: flex;
  flex-direction: column; /* Acomoda las miniaturas en columna */
  margin-left: 10px; /* Agrega un margen a la izquierda para separarlas de la imagen principal */
}

.thumbnail-images img {
  max-width: 100px;
  cursor: pointer;
  border: 2px solid transparent;
  margin-bottom: 5px; /* Agrega un margen inferior para separar las miniaturas */
}

.thumbnail-images img:hover {
  border-color: #007bff;
}

