<div class="row" id="productos">
    <div class="col-sm-12">
        <div class="card mt-2">
            <div class="card-header" style="background-color: #3081B5; color: #fff">
                <label face="Cavolini" size="3">Productos</label> 
            </div>
            <div class="card-body" style="background-color:  #D9D9D9">
                <div class="row">
                    <div id="" class="col-sm-3">
                        <div class="card">
                            <div class="card-header" style="background-color: #3081B5; color: #fff">
                                <label face="Cavolini" size="3">Detalles</label> 
                                <div class="form-inline float-right">
                                </div>
                            </div>
                            <form name="sent" class="card-body" action="" id="form1" method="POST">
                                <div class="form-control">
                                    <div class="form" style="font-size: 0.8em;">
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">nombre
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">precio de venta
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">tamaño
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">peso
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">descripcion
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">existencias
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                            <input type="text">url
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-12 float-label-form-group controls">
                                        <input type="text">cantidad
                                    </div>
                                    <div class="col-md-12">
                                        <label face="Cavolini" size="2">Materia Prima</label> 
                                        <select class="col-md-12" name="idMateriaP" id="idMateriaP">
                                                <option value=></option>
                                        </select>
                                    </div>
                                    <br>
                                    <input type="submit" id="reg-alum" class="btn btn-primary" name="registra" value="Registrar"/>
                                </div>
                                </div>
                            </form>   
                        </div>                        
                    </div>
                    <div id="" class="col-sm-9">
                        <div class="card">
                            <div class="card-header" style="background-color: #3081B5; color: #fff">
                                <label face="Cavolini" size="3">Lista de Productos</label> 
                                <div class="form-inline float-right">
                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead class="" style="background-color: #D97B29">
                                                <tr class="tr-head" style="font-size: 0.8em;" >
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th>Tamaño</th>
                                                    <th>Peso</th>
                                                    <th>Descripcion</th>
                                                    <th>Existencias</th>
                                                    <th>Eliminar</th>
                                                    <th>Modificar</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-success">
                                                <tr style="font-size: 0.8em;">
                                                    <td>Nombre</td>
                                                    <td>precio de venta</td>
                                                    <td>tamaño</td>
                                                    <td>peso kg</td>
                                                    <td>descripcion</td>
                                                    <td>existencias</td>
                                                    <td><a type="button" class="btn btn-danger" href="">Eliminar</a></td>
                                                    <td><a type="button" class="btn btn-warning" href="">Modificar</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>