<!-- <section>
  <footer class="footer" style="background-color: #2f3551;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Información de contacto</h3>
          <p>Correo electrónico: info@example.com</p>
          <p>Teléfono: 123-456-7890</p>
          <p>Dirección: Calle Ejemplo, Ciudad, País</p>
        </div>
        <div class="col-md-6">
          <h3>Enlaces útiles</h3>
          <ul class="list-unstyled">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2023 BalonEvo. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
</section> -->

        <!-- Footer-->
<footer class="py-5 bg" style="background-color: #2f3551;">
  <div class="container"><p class="m-0 text-center text-white">&copy; Copyright 2023 BalonEvo. Todos los derechos reservados.</p></div>
</footer>