<section class="register-section">
    <div class="register-container">
        <div class="login-box">
            <h2>Registro</h2>
            <form #miFormulario="ngForm" (ngSubmit)="submitForm(miFormulario)">
                <div class="input-container">
                    <input required="" name="name" type="text" [(ngModel)]="cliente.nombre">
                    <label>Nombre(s)</label>
                </div>
                <div class="input-container">
                    <div class="input-container">
                        <input required="" name="usuario" type="text" [(ngModel)]="cliente.usuario">
                        <label>Usuario</label>
                    </div>
                </div>
                <div class="input-container">
                    <input required="" name="email" type="text" [(ngModel)]="cliente.correo">
                    <label>Correo</label>
                </div>
                <div class="input-container">
                    <input required="" name="password" type="password" [(ngModel)]="cliente.contrasenia">
                    <label>Contraseña</label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Regístrate</button>
                </div>
            </form>
            <div class="login-link">
                <p>¿Ya tienes una cuenta? <a routerLink="/LoginComponent" class="a2">Inicia Sesión</a></p>
            </div>
        </div>
    </div>
</section>