<!-- <div class="hero-body">
    <div class="container has-text-centered">
        <div class="row">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-sm-4">
                        <img src="https://thumbs.dreamstime.com/b/iconos-de-la-misi%C3%B3n-del-dibujo-de-la-mano-92877878.jpg"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Mision</h5>
                            <p class="card-text">Nuestra pastelería tiene
                                como misión ofrecer a nuestros clientes
                                productos de alta calidad,
                                frescos y deliciosos, utilizando los mejores
                                ingredientes y las técnicas más innovadoras
                                de la pastelería.
                                Nos comprometemos a crear experiencias
                                excepcionales para nuestros clientes, y nos
                                esforzamos por brindar
                                un servicio al cliente excepcional en todo
                                momento.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card mb-3"
                style="max-width: 540px; position: absolute; right: 0;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../static/img/vision.png"
                            class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Vision</h5>
                            <p class="card-text">Nuestra visión es ser la
                                pastelería preferida por nuestros clientes,
                                y ser reconocidos como líderes en la
                                industria de la pastelería por nuestra
                                excelencia en la calidad,
                                la innovación y el servicio al cliente. Nos
                                esforzamos por expandir nuestro negocio y
                                ofrecer una amplia variedad
                                de productos para satisfacer las necesidades
                                de nuestros clientes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="card">
        <img class="ico-mision" src="assets/mision.png" viewBox="0 0 24 24">
        <h4>Misión</h4>
        <!-- <img class="img" src="https://thumbs.dreamstime.com/b/iconos-de-la-misi%C3%B3n-del-dibujo-de-la-mano-92877878.jpg" viewBox="0 0 24 24"> -->
        <div class="card__content">
            <p class="card__title">Mision</p>
            <p class="card__description">Nuestra tienda tiene
                como misión ofrecer a nuestros clientes productos de alta calidad, 
                y gran resistencia utilizando los mejores materiales y las técnicas más innovadoras de BalonEvo.
                Nos comprometemos a crear experiencias excepcionales.
            </p>
        </div>
    </div>
    
    <div class="card">
        <img class="ico-mision" src="assets/vision.png" viewBox="0 0 24 24">
        <h4>Visión</h4>
        <!-- <img class="img" src="https://thumbs.dreamstime.com/b/iconos-de-la-misi%C3%B3n-del-dibujo-de-la-mano-92877878.jpg" viewBox="0 0 24 24"> -->
        <div class="card__content">
            <p class="card__title">Vision</p>
            <p class="card__description">Nuestra visión es ser la
                tienda preferida por nuestros clientes,
                y ser reconocidos como líderes en la
                industria de la produccion y venta de balones por nuestra
                excelencia en la calidad,
                la innovación y el servicio al cliente.
            </p>
        </div>
    </div>
</div>