/* Estilos para el cuerpo del formulario */
.form-control {
  margin-bottom: 15px;
}

/* Estilo para el botón */
.btn-primary {
  background-color: #2f3551;
  border-color: #2f3551;
  margin-bottom: 30px;
  margin-top: 5px;
}

/* Estilo para el botón al pasar el cursor */
.btn-primary:hover {
  background-color: #1a1e32;
  border-color: #1a1e32;
}

/* Centrar el formulario en la pantalla */
.container {
  display: inline;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Cambiar el color de la etiqueta de los campos */
.form-label {
  color: #2f3551;
  font-weight: bold;
}

section{
  margin-top: 40px;
  margin-bottom: 40px;
}
